body{
    background-color: #FFBD59;
    border: 1rem solid black;
    display: grid;
    grid-template-rows: 20VH 15VH 55VH 10fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.first-word{
    font-weight: bolder;
}

header{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    place-items: center;

    background-color: #FFBD59;
    padding: 1.2em;

}

header div{
    margin-right: auto;
    margin-left: auto;
}

header img{
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    width: 5em;
    height: 5em;
}

header h1{
    display: inline;
    font-size: 2rem;

}

header h2{
    display: inline;
    font-style: italic;
}

nav{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1;
    grid-column-end: 4;

    text-align: center;
    background-color: black;
}

nav div{
    margin: auto;
    margin-top: 40px;
}


nav a{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 30px;
}

nav a:link{
    color: white;
    font-weight: bold;
}

nav a:visited{
    color: white;
    font-weight: bold;
}

nav img{
    float:right;
    width: 2em;
    height: 2em;
    margin-top: -65px;
}

section{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1;
    grid-column-end: 4;
}

section > div > h1{
    font-size: 35px;
    text-decoration: underline;
    margin-top: -5px;
}

#contactSect{
    background-color: lightgray;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 5px;
    height: 315px;
}

#contactSect li{
    text-align: center;
}

#contactSect ul li::marker{
    color:lightgray;
}

#contactSect address,a{
    display: inline;
    color: black;
}

#teamSect{
    background-color: #FFBD59;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: 5px;
    height: 315px;
}

.teamMemberBox{
    background-color: #ffd79b;
    display: inline;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
}

.teamMemberBox h3{
    margin-top: -10px;
}

.teamMemberBox p{
    margin-top: -10px;
}

.teamMemberBox img{
    padding: 10px;
    height: 150px;
    overflow-y: hidden;
    border-radius: 35px;
}

.infoBox{
    border:  5px solid black;
    border-radius: 15px;
    height: 350px;
    width: auto;
    padding: 5px;
    margin: auto;
}


footer{
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: 1;
    grid-column-end: 4;
    place-items: center;


    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

footer a:link, a:visited{
    text-decoration: none;
    margin-left: 1em;
    margin-left: 1em;
}

@media all and (max-width: 500px){
    html, body{
       max-width: 100%;
       overflow-x: hidden;
    }
    
    body{
    align-self: center;
    background-color: #FFBD59;
    display: grid;
    grid-template-rows: 250px 350px auto auto 75px; 
    grid-template-columns: 1fr;
}

    header{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header div{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }

    header img{
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        width: 5em;
        height: 5em;
    }

    header h1{
        display: block;
        font-size: 2rem;

    }

    header h2{
        display: block;
        font-style: italic;
    }

    nav{
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;

        text-align: center;
        background-color: black;
    }

    nav div{
        margin: auto;
        margin-top: 40px;
    }


    nav a{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        font-size: 30px;
    }

    nav a img{
        float: none;
        margin-top: -10px;
        width: 2em;
        height: 2em;
    }

    section{
        padding: 5px;
    }

    .infoBox{
    background-color: #FFBD59;
    border:  5px solid black;
    border-radius: 15px;
    height: auto;
    width:90%;
    padding: 5px;
    margin-top: 10px;
}

    #contactSect{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
    #contactSect ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #teamSect{
        background-color: #ffd79b;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        height: auto;
    }

    .teamMemberBox{
        background-color: #FFBD59;
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        width: auto;
        border: 5px solid black;
        border-radius: 5px;
        text-align: center;
}

    footer{
        display: grid;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column: 1;
        grid-column-end: 3;
        place-items: center;


        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
        font-size: 1em;
    }
}

@media all and (min-width: 500px) and (max-width: 1200px) {
    html, body{
       max-width: 100%;
       overflow-x: hidden;
    }
    
    body{
    align-self: center;
    background-color: #FFBD59;
    display: grid;
    grid-template-rows: 250px 125px auto auto 75px; 
    grid-template-columns: 1fr;
}

    header{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header div{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }

    header img{
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        width: 5em;
        height: 5em;
    }

    header h1{
        display: block;
        font-size: 2rem;

    }

    header h2{
        display: block;
        font-style: italic;
    }

    nav{
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;

        text-align: center;
        background-color: black;
    }

    nav div{
        margin: auto;
        margin-top: 40px;
    }


    nav a{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        font-size: 30px;
    }

    nav a img{
        float: right;
        margin-top: -55px;
        width: 2em;
        height: 2em;
    }

    section{
        padding: 5px;
    }

    .infoBox{
    background-color: #FFBD59;
    border:  5px solid black;
    border-radius: 15px;
    height: auto;
    width:auto;
    padding: 5px;
    margin-top: 10px;
}

    #contactSect{
        width: 95%;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
}
     #teamSect{
        width: 95%;
        height: auto;
        background-color: #ffd79b;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .teamMemberBox{
        background-color: #FFBD59;
        margin-top: -10px;
        margin-bottom: 15px;
        margin-left: 45px;
        border: 5px solid black;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        height: 250px;
}

    .teamMemberBox h3{
        margin-top: -10px;
    }

    .teamMemberBox p{
        margin-top: -20px;
    }

    .teamMemberBox img{
        padding: 10px;
        overflow-y: hidden;
        border-radius: 35px;
    }

    
    #contactSect{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
    #contactSect ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    footer{
        display: grid;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column: 1;
        grid-column-end: 3;
        place-items: center;
}
}


