body{
    background-color: #FFBD59;
    border: 1rem solid black;
    display: grid;
    grid-template-rows: 20VH 15VH 55VH 10fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.first-word{
    font-weight: bolder;
}

header{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    place-items: center;

    background-color: #FFBD59;
    padding: 1.2em;

}

header div{
    margin-right: auto;
    margin-left: auto;
}

header img{
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    width: 5em;
    height: 5em;
}

header h1{
    display: inline;
    font-size: 2rem;

}

header h2{
    display: inline;
    font-style: italic;
}

nav{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column: 1;
    grid-column-end: 4;

    text-align: center;
    background-color: black;
}

nav div{
    margin: auto;
    margin-top: 40px;
}


nav a{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 30px;
}

nav a:link{
    color: white;
    font-weight: bold;
}

nav a:visited{
    color: white;
    font-weight: bold;
}

nav img{
    float:right;
    width: 2em;
    height: 2em;
    margin-top: -65px;
}

section{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column: 1;
    grid-column-end: 4;
}

section > div > h1{
    font-size: 35px;
    text-decoration: underline;
    margin-top: -5px;
}

#contactSect{
    background-color: grey;
    grid-column-start: 1;
    grid-column-end: 2;
}

#contactSect li{
    text-align: center;
    marker: none;
}

#contactSect ul li::marker{
    color:grey;
}

#contactSect address,a{
    display: inline;
    color: black;
}

#teamSect{
    background-color: #FFBD59;
    grid-column-start: 2;
    grid-column-end: 4;
}

.teamMemberBox{
    display: inline;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
     margin-top: -15px;
    width: 150px;
    border: 5px solid black;
    border-radius: 5px;
    text-align: center;
}

.teamMemberBox img{
    border-radius: 35px;
}

.infoBox{
    border:  5px solid black;
    border-radius: 15px;
    height: 350px;
    width: auto;
    padding: 5px;
    margin: auto;
}


footer{
    display: grid;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column: 1;
    grid-column-end: 4;
    place-items: center;


    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

footer a:link, a:visited{
    text-decoration: none;
    margin-left: 1em;
    margin-left: 1em;
}


