body {
	background-color: blanchedalmond;
}

header {
	display: grid;
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 3;
	place-items: center;

	background-color: #ffbd59;
	padding: 1.2em;
}

header div {
	margin-right: auto;
	margin-left: auto;
}

header img {
	vertical-align: middle;
	margin-right: 15px;
	margin-left: 15px;
	width: 5em;
	height: 5em;
}

header h1 {
	display: inline;
	font-size: 2rem;
}

header h2 {
	display: inline;
	font-style: italic;
}

nav {
	display: grid;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column: 1;
	grid-column-end: 3;

	text-align: center;
	background-color: black;
}

nav div {
	margin: auto;
	margin-top: 40px;
}

nav a {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 30px;
}

nav a:link {
	color: white;
	font-weight: bold;
}

nav a:visited {
	color: grey;
	font-weight: bold;
}

nav img {
	float: right;
	width: 2em;
	height: 2em;
	margin-top: -65px;
}

section {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	margin: 20px;
}

/*images inside the boxes*/
.menu-category img {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-radius: 10px;
}

/*links styles*/

.add-btn {
	text-decoration: none;
	color: white;
	background-color: #7a4a00;
	border-radius: 8px;

	font-weight: bold;
	font-size: 1rem;
}

.add-btn:hover {
	background-color: #e09c35;
}

footer {
	display: grid;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column: 1;
	grid-column-end: 3;
	place-items: center;

	background-color: black;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 0.5em;
}

footer a:link,
a:visited {
	text-decoration: none;
	margin-left: 1em;
	margin-left: 1em;
}
