body{
    background-color: #FFBD59;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80VH;
}

div{
    margin: auto;
}

div h1{
    font-size: 5VW;
}

img{
    margin-bottom: 15px;
    width: 15VW;
}

input{
    width: auto;
    height: auto;
    margin-top: 15px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-style: italic;
    font-size: 1.25VW;
}

input:focus{
    color: black;
}

input:invalid:focus{
    background-color: lightcoral;
}

input:valid:focus{
    background-color: lightgreen;
}

button{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
    margin-top: 15px;
    border: 3px solid #ffd79b;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25VW;
}

footer{
    font-weight: bold;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: center;
}

@media all and (max-width: 500px){
    body h1{
        font-size: 10VW;
    }

    img{
        width: 25VW;
    }

    input{
        width: 50VW;
        height: auto;
        font-size: 5VW;
    }

    button{
        font-size: 5VW;
    }
}

@media all and (min-width: 500px) and (max-width: 1200px) {
   body h1{
        font-size: 10VW;
    }

    img{
        width: 25VW;
    }

    input{
        margin-top: 30px;
        width: 50VW;
        height: auto;
        font-size: 5VW;
    }

    button{
        margin-top: 30px;
        font-size: 5VW;
    }
}