body{
    background-color: #FFBD59;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80VH;
}

div{
    margin: auto;
}

img{
    margin-bottom: 15px;
    width: 5rem;
}

input{
    width: 150px;
    height: 25px;
    margin-top: 15px;
    border: 3px solid lightgray;
    border-radius: 5px;
    font-style: italic;
}

input:focus{
    color: black;
}

input:invalid:focus{
    background-color: lightcoral;
}

input:valid:focus{
    background-color: lightgreen;
}

button{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border: 3px solid #ffd79b;
    border-radius: 5px;
    font-weight: bold;
}

footer{
    font-weight: bold;
    position: fixed;
    width: 100%;
    bottom: 0;
    left:0;
    text-align: center;
}