body {
	background-color: rgba(255, 189, 89, 1);
    border: 1rem solid hsla(0, 0%, 0%, 1);
}

header{
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    place-items: center;

    background-color: rgba(255, 189, 89, 1);
    padding: 1.2em;
}

header div{
    margin-right: auto;
    margin-left: auto;
}

header img{
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
    width: 5em;
    height: 5em;
}

header h1{
    display: inline;
    font-size: 2rem;

}

header h2{
    display: inline;
    font-style: italic;
}
/*Navigation bar style*/
nav {
	display: grid;
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column: 1;
	grid-column-end: 3;
    height: 100px;

	text-align: center;
	background-color: hsla(0, 0%, 0%, 1);
}

nav div {
	margin: auto;
	margin-top: 30px;
}

nav a {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 30px;
}

nav a:link{
    color: hsla(0, 0%, 100%, 1);
    font-weight: bold;
}

nav a:visited{
    color: hsla(0, 0%, 100%, 1);
    font-weight: bold;
}

nav img {
	float: right;
	width: 2em;
	height: 2em;
	margin-top: -65px;
}

section{
    padding: 30px;
    background-color: rgba(255, 215, 155, 1);
	text-align: center;
    height: 50VH;
}

.profile {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-top: 10px;
    margin-left: auto;
    margin-right: 75px;
    font-size: 150%;
}

.info {
    border: 2px solid hsla(0, 0%, 0%, 1);
    padding: 20px;
    background-color: rgba(255, 189, 89, 1);
    margin-left: 150px;
    margin-right: auto;
    margin-top: 75px;
    width: 60%;
    display: grid;
    align-content: end;
    text-align: left;
    border: 5px solid hsla(0, 0%, 0%, 1);
    border-radius: 15px;
}

.info input{
    margin-top: 5px;
    font-size: 100%;
}

.payment {
    border: 2px solid hsla(0, 0%, 0%, 1);
    padding: 15px;
    background-color: rgba(255, 189, 89, 1);
    width: 60%;
    border: 5px solid hsla(0, 0%, 0%, 1);
    border-radius: 15px;
    margin-top: 75px;
    margin-left: 150px;
    margin-right: 75px;
}

.payment input{
    font-size: 100%;
}

input {
    border-radius: 5px;
}



/*Footer Style*/
footer {
	display: grid;
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column: 1;
	grid-column-end: 3;
	place-items: center;

	background-color: hsla(0, 0%, 0%, 1);
	color: hsla(0, 0%, 100%, 1);
	padding: 10px;
	text-align: center;
	font-size: 1em;
}

footer a:link,
a:visited {
	text-decoration: none;
	margin-left: 1em;
	margin-left: 1em;
}  

/* Mobile version */

@media (max-width: 500px) {
    html, body{
       max-width: 100%;
       overflow-x: hidden;
    }
    
    body{
    align-self: center;
    background-color: rgba(255, 189, 89, 1);
    display: grid;
    grid-template-rows: 250px 350px auto 75px; 
    grid-template-columns: 1fr;
}

    header{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header div{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }

    header img{
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        width: 5em;
        height: 5em;
    }

    header h1{
        display: block;
        font-size: 2rem;

    }

    header h2{
        display: block;
        font-style: italic;
    }

    nav{
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 350px;

        text-align: center;
        background-color: hsla(0, 0%, 0%, 1);
    }

    nav div{
        margin: auto;
        margin-top: 40px;
    }


    nav a{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        font-size: 30px;
    }

    nav a img{
        float: none;
        margin-top: -10px;
        width: 2em;
        height: 2em;
    }

    section{
        padding: 5px;
        height: auto;
        background-color: rgba(255, 215, 155, 1);
        min-height: 500px;
    }

    .info{
        margin-top: 35px;
        display: block;
        place-items: center;
        width: 200px;
        text-align: center;
    }

    .info input{
        margin-top: 5px;
    }

    .payment{
        display: block;
        margin-top: 50px;
        place-items: center;
        width: 210px;
    }

    footer{
        display: grid;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column: 1;
        grid-column-end: 3;
        place-items: center;


        background-color: hsla(0, 0%, 0%, 1);
        color: hsla(0, 0%, 100%, 1);
        padding: 10px;
        text-align: center;
        font-size: .7em;
    }
}

@media all and (min-width: 500px) and (max-width: 1100px) {
    html, body{
       max-width: 100%;
       overflow-x: hidden;
    }
    
    body{
    align-self: center;
    background-color: rgba(255, 189, 89, 1);
    display: grid;
    grid-template-rows: 250px 125px auto auto 75px; 
    grid-template-columns: 1fr;
}

    header{
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header div{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    }

    header img{
        vertical-align: middle;
        margin-right: auto;
        margin-left: auto;
        width: 5em;
        height: 5em;
    }

    header h1{
        display: block;
        font-size: 2rem;

    }

    header h2{
        display: block;
        font-style: italic;
    }

    nav{
        display: grid;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 125px;

        text-align: center;
        background-color: hsla(0, 0%, 0%, 1);
    }

    nav div{
        margin: auto;
        margin-top: 40px;
    }


    nav a{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 25px;
        font-size: 30px;
    }

    nav a img{
        float: right;
        margin-top: -55px;
        width: 2em;
        height: 2em;
    }

    section{
        padding: 5px;
        height: auto;
        background-color: rgba(255, 215, 155, 1);
        min-height: 670px;
    }

    .info{
        display: grid;
        font-size: 125%;
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column: 1;
        grid-column-end: 3;
        margin: auto;
        margin-top: 50px;
    }

    .info input{
        font-size: 120%;
        margin-top: 10px;
    }

    .payment{
        display: grid;
        margin: auto;
        margin-top: 50px;
        font-size: 125%;
        width: 60VW;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column: 1;
        grid-column-end: 3;
    }

    .payment input,button{
        font-size: 120%;
        margin-top: 10px;
    }

    footer{
        display: grid;
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column: 1;
        grid-column-end: 3;
        place-items: center;
}
}